.login {
  height: 100%;
  width: 100%;
  background-image: url(./images/login.webp);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.login-box{
  padding:30px 20px 20px 10px;
  width: 24%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%); 
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.login-box h2{
  text-align: center;
  margin-bottom: 25px;
  color: #777;
}