.blog-button {
    margin-right: 10px;
}

.site-tag-plus {
    background: #fff;
    border-style: dashed;
}

.edit-tag {
    user-select: none;
}

.tag-input {
    width: 78px !important;
    margin-right: 8px;
    vertical-align: top;
}

.blogMessage {
    margin-top: 10px;
    font-family: "楷体";
}

.blogContent {
    margin-top: 20px;
    line-height: 150%;
}

.upload-list-inline .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-right: 8px;
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
    float: right;
}

.upload-list-inline .ant-upload-animate-enter {
    animation-name: uploadAnimateInlineIn;
}

.upload-list-inline .ant-upload-animate-leave {
    animation-name: uploadAnimateInlineOut;
}

.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}